---
layout: default
title: rlbisbe @ dev | Tengo muchas cosas en la cabeza... sobre todo punteros a null
---
<div id="primary" class="site-content">
	<div id="content" role="main">
    {% for post in paginator.posts %}
<article>
      <header class="entry-header">
      <h1 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      </header>
      	<div class="entry-content">
      	{{post.excerpt}}
        <a href="{{ post.url }}">Sigue leyendo...</a>
      	</div>
</article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Más recientes</a>
      {% else %}
        <span>&laquo; Más recientes</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Más antiguas &raquo;</a>
      {% else %}        
      <span>Más antiguas &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
</div>